* {
	 margin: 0px;
	 padding: 0px;
	 font-family: Arial,sans-serif;
}

#big_wrapper {
	width: 736px;
	height: 414px;
	background-color: tan;
	margin: 0px;
	padding-top: 49px;
}

#game_space {
	width: 732px;
	height: 268px;
	background-color: lightblue;
	border: 1px solid black;
	margin: 0px auto;
}

#protagonist {
	width: auto;
	height: auto;
	margin: 211px 0px 0px 330px; /*the zero position relative to the game space*/
	display: inline-block;
}

#control_space {
	margin: 18px auto;
	width: 123px;
	height: auto;
	background-color: lightgreen;
}

.button {
	display: inline-block;
	border: 1px solid black;
}

.beam {
	display: inline-block;
	position: absolute;
}

.minor_monster {
	position: absolute;
	/*left and top below are used to set the starting position of the minor monster*/
	left: 650px;
	top: 50px;
}
